In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import pandas as pd
import numpy as np

In [13]:
import pandas as pd
my_df = pd.read_csv("/content/DS20SV.csv")

In [21]:
my_df

         ID            Name  Year Faculty  Mark
0   2016445      Trịnh Văn     20     FME     1
1   2016446     Nguyễn Đức     21    FEEE     5
2   2016447    Nguyễn Ngọc     22    FGAM     6
3   2016448       Trần Văn     22     FME     7
4   2016449       Đoàn Đức     20    FGAM     8
5   2016450    Nguyễn Xuân     22    FEEE     9
6   2016451      Đặng Ngọc     21     FME     4
7   2016452     Nguyễn Duy     20    FEEE     2
8   2016453      Trần Xuân     22    FGAM     3
9   2016454     Nguyễn Thị     21     FME     5
10  2016455  Nguyễn Trường     22    FEEE     8
11  2016456      Trần Quốc     20    FGAM     9
12  2016457    Nguyễn Việt     22     FME    10
13  2016458       Đồng Văn     22    FGAM     1
14  2016459        Hồ Tuấn     21     FME     5
15  2016460         Lê Duy     20    FGAM     4
16  2016461     Nguyễn Đại     22    FEEE     7
17  2016462   Trần Thị Chi     21    FGAM     8
18  2016463  Võ Lương Nhơn     20     FME     9
19  2016464       Trần Cao     21     FIT     3

In [22]:
my_df.shape

(20, 5)

In [23]:
my_df.describe()

                 ID       Year      Mark
count  2.000000e+01  20.000000  20.00000
mean   2.016454e+06  21.100000   5.70000
std    5.916080e+00   0.852242   2.81163
min    2.016445e+06  20.000000   1.00000
25%    2.016450e+06  20.000000   3.75000
50%    2.016454e+06  21.000000   5.50000
75%    2.016459e+06  22.000000   8.00000
max    2.016464e+06  22.000000  10.00000

In [24]:
my_df.iloc[0:4]

        ID          Name  Year Faculty  Mark
0  2016445    Trịnh Văn     20     FME     1
1  2016446   Nguyễn Đức     21    FEEE     5
2  2016447  Nguyễn Ngọc     22    FGAM     6
3  2016448     Trần Văn     22     FME     7

In [32]:
my_df[my_df['Faculty']=='FME'].head(5)

         ID          Name  Year Faculty  Mark
0   2016445    Trịnh Văn     20     FME     1
3   2016448     Trần Văn     22     FME     7
6   2016451    Đặng Ngọc     21     FME     4
9   2016454   Nguyễn Thị     21     FME     5
12  2016457  Nguyễn Việt     22     FME    10

In [33]:
my_df[(my_df['Faculty']=='FME')&(my_df['Year']==21)]

         ID         Name  Year Faculty  Mark
6   2016451   Đặng Ngọc     21     FME     4
9   2016454  Nguyễn Thị     21     FME     5
14  2016459     Hồ Tuấn     21     FME     5

In [35]:
my_df['Year'].min()

20

In [36]:
my_df['Year'].max()

22

In [37]:
my_df['Mark'].mean()

5.7

In [38]:
my_df.drop('Faculty',axis=1).head(20)

         ID            Name  Year  Mark
0   2016445      Trịnh Văn     20     1
1   2016446     Nguyễn Đức     21     5
2   2016447    Nguyễn Ngọc     22     6
3   2016448       Trần Văn     22     7
4   2016449       Đoàn Đức     20     8
5   2016450    Nguyễn Xuân     22     9
6   2016451      Đặng Ngọc     21     4
7   2016452     Nguyễn Duy     20     2
8   2016453      Trần Xuân     22     3
9   2016454     Nguyễn Thị     21     5
10  2016455  Nguyễn Trường     22     8
11  2016456      Trần Quốc     20     9
12  2016457    Nguyễn Việt     22    10
13  2016458       Đồng Văn     22     1
14  2016459        Hồ Tuấn     21     5
15  2016460         Lê Duy     20     4
16  2016461     Nguyễn Đại     22     7
17  2016462   Trần Thị Chi     21     8
18  2016463  Võ Lương Nhơn     20     9
19  2016464       Trần Cao     21     3

In [42]:
my_df.drop(['Faculty','Year'],axis=1).head(20)

         ID            Name  Mark
0   2016445      Trịnh Văn      1
1   2016446     Nguyễn Đức      5
2   2016447    Nguyễn Ngọc      6
3   2016448       Trần Văn      7
4   2016449       Đoàn Đức      8
5   2016450    Nguyễn Xuân      9
6   2016451      Đặng Ngọc      4
7   2016452     Nguyễn Duy      2
8   2016453      Trần Xuân      3
9   2016454     Nguyễn Thị      5
10  2016455  Nguyễn Trường      8
11  2016456      Trần Quốc      9
12  2016457    Nguyễn Việt     10
13  2016458       Đồng Văn      1
14  2016459        Hồ Tuấn      5
15  2016460         Lê Duy      4
16  2016461     Nguyễn Đại      7
17  2016462   Trần Thị Chi      8
18  2016463  Võ Lương Nhơn      9
19  2016464       Trần Cao      3

In [44]:
#?
my_df.drop(my_df.columns[2:4],axis=1).head(20)

         ID            Name  Mark
0   2016445      Trịnh Văn      1
1   2016446     Nguyễn Đức      5
2   2016447    Nguyễn Ngọc      6
3   2016448       Trần Văn      7
4   2016449       Đoàn Đức      8
5   2016450    Nguyễn Xuân      9
6   2016451      Đặng Ngọc      4
7   2016452     Nguyễn Duy      2
8   2016453      Trần Xuân      3
9   2016454     Nguyễn Thị      5
10  2016455  Nguyễn Trường      8
11  2016456      Trần Quốc      9
12  2016457    Nguyễn Việt     10
13  2016458       Đồng Văn      1
14  2016459        Hồ Tuấn      5
15  2016460         Lê Duy      4
16  2016461     Nguyễn Đại      7
17  2016462   Trần Thị Chi      8
18  2016463  Võ Lương Nhơn      9
19  2016464       Trần Cao      3

In [45]:
my_df[my_df['Year']!=20].head(20)

         ID            Name  Year Faculty  Mark
1   2016446     Nguyễn Đức     21    FEEE     5
2   2016447    Nguyễn Ngọc     22    FGAM     6
3   2016448       Trần Văn     22     FME     7
5   2016450    Nguyễn Xuân     22    FEEE     9
6   2016451      Đặng Ngọc     21     FME     4
8   2016453      Trần Xuân     22    FGAM     3
9   2016454     Nguyễn Thị     21     FME     5
10  2016455  Nguyễn Trường     22    FEEE     8
12  2016457    Nguyễn Việt     22     FME    10
13  2016458       Đồng Văn     22    FGAM     1
14  2016459        Hồ Tuấn     21     FME     5
16  2016461     Nguyễn Đại     22    FEEE     7
17  2016462   Trần Thị Chi     21    FGAM     8
19  2016464       Trần Cao     21     FIT     3

In [47]:
my_df[my_df['Faculty']!='FME'].head(20)

         ID            Name  Year Faculty  Mark
1   2016446     Nguyễn Đức     21    FEEE     5
2   2016447    Nguyễn Ngọc     22    FGAM     6
4   2016449       Đoàn Đức     20    FGAM     8
5   2016450    Nguyễn Xuân     22    FEEE     9
7   2016452     Nguyễn Duy     20    FEEE     2
8   2016453      Trần Xuân     22    FGAM     3
10  2016455  Nguyễn Trường     22    FEEE     8
11  2016456      Trần Quốc     20    FGAM     9
13  2016458       Đồng Văn     22    FGAM     1
15  2016460         Lê Duy     20    FGAM     4
16  2016461     Nguyễn Đại     22    FEEE     7
17  2016462   Trần Thị Chi     21    FGAM     8
19  2016464       Trần Cao     21     FIT     3

In [51]:
#?
my_df.groupby('Faculty').head(20)

         ID            Name  Year Faculty  Mark
0   2016445      Trịnh Văn     20     FME     1
1   2016446     Nguyễn Đức     21    FEEE     5
2   2016447    Nguyễn Ngọc     22    FGAM     6
3   2016448       Trần Văn     22     FME     7
4   2016449       Đoàn Đức     20    FGAM     8
5   2016450    Nguyễn Xuân     22    FEEE     9
6   2016451      Đặng Ngọc     21     FME     4
7   2016452     Nguyễn Duy     20    FEEE     2
8   2016453      Trần Xuân     22    FGAM     3
9   2016454     Nguyễn Thị     21     FME     5
10  2016455  Nguyễn Trường     22    FEEE     8
11  2016456      Trần Quốc     20    FGAM     9
12  2016457    Nguyễn Việt     22     FME    10
13  2016458       Đồng Văn     22    FGAM     1
14  2016459        Hồ Tuấn     21     FME     5
15  2016460         Lê Duy     20    FGAM     4
16  2016461     Nguyễn Đại     22    FEEE     7
17  2016462   Trần Thị Chi     21    FGAM     8
18  2016463  Võ Lương Nhơn     20     FME     9
19  2016464       Trần Cao     21     FIT     3

In [52]:
my_df.groupby('Faculty').count()

         ID  Name  Year  Mark
Faculty
FEEE      5     5     5     5
FGAM      7     7     7     7
FIT       1     1     1     1
FME       7     7     7     7

In [53]:
my_df.groupby(['Faculty','Year']).head(20)

         ID            Name  Year Faculty  Mark
0   2016445      Trịnh Văn     20     FME     1
1   2016446     Nguyễn Đức     21    FEEE     5
2   2016447    Nguyễn Ngọc     22    FGAM     6
3   2016448       Trần Văn     22     FME     7
4   2016449       Đoàn Đức     20    FGAM     8
5   2016450    Nguyễn Xuân     22    FEEE     9
6   2016451      Đặng Ngọc     21     FME     4
7   2016452     Nguyễn Duy     20    FEEE     2
8   2016453      Trần Xuân     22    FGAM     3
9   2016454     Nguyễn Thị     21     FME     5
10  2016455  Nguyễn Trường     22    FEEE     8
11  2016456      Trần Quốc     20    FGAM     9
12  2016457    Nguyễn Việt     22     FME    10
13  2016458       Đồng Văn     22    FGAM     1
14  2016459        Hồ Tuấn     21     FME     5
15  2016460         Lê Duy     20    FGAM     4
16  2016461     Nguyễn Đại     22    FEEE     7
17  2016462   Trần Thị Chi     21    FGAM     8
18  2016463  Võ Lương Nhơn     20     FME     9
19  2016464       Trần Cao     21     FIT     3

In [54]:
my_df.groupby(['Faculty','Year']).count()

              ID  Name  Mark
Faculty Year
FEEE    20     1     1     1
        21     1     1     1
        22     3     3     3
FGAM    20     3     3     3
        21     1     1     1
        22     3     3     3
FIT     21     1     1     1
FME     20     2     2     2
        21     3     3     3
        22     2     2     2

In [55]:
my_df.groupby(['Faculty','Year'])['Mark'].count()

Faculty  Year
FEEE     20      1
         21      1
         22      3
FGAM     20      3
         21      1
         22      3
FIT      21      1
FME      20      2
         21      3
         22      2
Name: Mark, dtype: int64