In [ ]:
import numpy as np
import pandas as pd
time=pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe=pd.DataFrame(index=time)
dataframe['Acess_Amount']=np.random.randint(1,10,100000)
dataframe.resample('w').sum()

            Acess_Amount
2023-01-01         14444
2023-01-08        100389
2023-01-15        100365
2023-01-22        100431
2023-01-29        100664
2023-02-05         82227

In [4]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url,sep=',')
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url,sep=',')
data1=data[(data['Year']<2009)&(data['Year']>2003)&(data['NOC']=='USA')]
data1.groupby('Medal').count()
#chọn nước coi từ năm 2004 đến 2008 có bao nhiêu huy chương các loại, từng môn có bao nhiêu huy chương các loại

        Year  City  Sport  Discipline  NOC  Event  Event gender
Medal
Bronze     7     7      7           7    7      7             7
Gold       9     9      9           9    9      9             9
Silver     9     9      9           9    9      9             9